<app-navbar></app-navbar>

<div class="videos-container">
    <div class="container py-5">
        <h1 class="text-center mb-5">MYTHOLOGY VIDEOS</h1>

        <div class="row">
            <!-- Video 1 -->
            <div class="col-lg-6 mb-5">
                <div class="video-card">
                    <div class="video-wrapper">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/kxRexeMJtsI?si=VczLnHXrQP6fgmfO"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="video-content">
                        <h2>The Creation Story - The Book Of Genesis</h2>
                        <p class="lead">Discover the origins of the world and humanity in The Book of Genesis, where the Creation Story unfolds with divine power and purpose.</p>
                    </div>
                </div>
            </div>

            <!-- Video 2 -->
            <div class="col-lg-6 mb-5">
                <div class="video-card">
                    <div class="video-wrapper">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/l3O2QQ_h08E?si=307UJMxPpv4JguyI"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="video-content">
                        <h2>Creation Stories from Mythology and Folklore</h2>
                        <p class="lead">Explore the creation stories from mythology and folklore, where gods, creatures, and cosmic forces shape the beginnings of the world across cultures.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>